/* レイアウト用CSS */
@charset "UTF-8";

/* /////////////基本レイアウト//////////////// */

/* ■■■■■■■■■■■■ 背景 ■■■■■■■■■■■■ */
body{
  background-color: #361311;
  font-family: "HGS明朝B","ＭＳ　Ｐ明朝","MS Serif",serif;
  color: #fff;
}

/* ■■■■■■■■■■■■ ヘッダー ■■■■■■■■■■■■ */
.l-header{
  margin-top: 27px;
  font-size: 12px;
}
.l-header::after{
  display: block;
  content: "";
  clear: both;
}
/* 広告までの左 */
.l-Lheader{
  height: auto;
  float: left;
  overflow: hidden;
}
/* 広告 */
.l-header a:nth-child(2) img{
  width: 370px;
  height: 80px;
  margin-left: 20px;
  background-color: #aaa;
}

/* ヘッダー右 */
.l-Rheader{
  float: right;
  overflow: hidden;
  text-align: center;
}

/* ヘッダー右の上 */
.l-R-Theader a{
  float: left;
  overflow: hidden;
  border-bottom: solid 1px #666461;
  width: 90px;
  display: block;
  color: #ecdbcc;
  margin-left: 2.5px;
}
.l-R-Theader a:first-child{
  margin-right: 10px;
}
.l-R-Theader::after{
  content: "";
  display: block;
  clear: both;
}


/* ヘッダー右の下 */
.l-R-Bheader{
  background-color: #a62729;
  margin-top: 10px;
  height: 50px;
  margin-left: 99px;
}
.l-R-Bheader li{
  float: left;
  overflow: hidden;
  margin-top: 5px;
  line-height: 40px;
  width: 99px;
}
.l-R-Bheader::after{
  display: block;
  content: "";
  clear: both;
}
.l-R-Bheader li:first-child{
  border-right: solid 1px rgba(244,244,244, 0.7);
}
.l-R-Bheader a{
  color: #fff;
  display: block;
}

/* lineなし */
.l-header a{
  text-decoration: none;
}





/* ■■■■■■■■■■ ナビ ■■■■■■■■■■ */
.l-nav{
  text-align: center;
  height: 40px;
  padding: 0;
  margin: 10px 0 0 0;
  background-image: -moz-linear-gradient(top, #7f4040, #6b2222);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#7f4040), to(#6b2222));
  background-image: -webkit-linear-gradient(top, #7f4040, #6b2222);
  background-image: linear-gradient(top, #7f4040, #6b2222);
}
.l-nav li{
  float: left;
  overflow: hidden;
  line-height: 30px;
  margin-top: 5px;
  width: 136.2px;
  border-left: solid 1px rgba(244, 244, 244, 0.2);
}
.l-nav li:first-child{
  border: none;
}
.l-nav::after{
  content: "";
  display: block;
  clear: both;
}
.l-nav a{
  display: block;
  text-decoration: none;
  color: #fff;
}

/* ■■■■■■■■■■ フッター ■■■■■■■■■■ */
.l-footer{

}

.l-footer a:link , .l-footer a:visited{
  color: #ecdbcc;
}

/* ■■■■■■■■■■ フラッパー ■■■■■■■■■■ */
.l-wrapper{
    width: 960px;
    margin: 0 auto;
}

/* ■■■■■■■■■■ パンくずリスト ■■■■■■■■■■ */
.l-breadcrumb{
  margin-bottom: 10px;
}
.l-breadcrumb li{
  display: inline;
  width: 131px;
  line-height: 40px;
}
.l-breadcrumb li::after{
  content: " > ";
}
.l-breadcrumb li:last-child::after{
  content: none;
}
.l-breadcrumb a{
  color: #fff;
  text-decoration: none;
}


/* ■■■■■■■■■■ メインビジュアル ■■■■■■■■■■ */
.l-mainv{
  width: 680px;
  height: 355px;
  /*background-color: white;*/
}

/* ■■■■■■■■■■ スケジュールアイコンリスト ■■■■■■■■■■ */
.schedule_Icon_List{
  width: 100%;
  height: 150px;
  background-color: #791611;
  margin: 20px 0 20px 0;
  /*border: solid 1px #ccc;*/
}

.schedule_Icon_List li{
  width: 50%;
  height: 50px;
  /*background-color: #9af;*/
  float: left;margin-bottom: 2px;
  line-height: 50px;
}

.icon_List_three li{
  width: 33%;
  height: 50px;
}

/* ■■■■■■■■■■ コンテンツ ■■■■■■■■■■ */
.l-content{
  width: auto;
  height: auto;
}
.l-content:after{
    content: "";
    display: block;
    clear: both;
}

/* ■■■■■■■■■■ 左コンテンツ ■■■■■■■■■■ */
.l-cLeft{
    float: left;
    overflow: hidden;
    width: 680px;
    margin-right: 10px;
    /*background-color: #791611;*/
}

/* ■■■■■■■■■■ 右コンテンツ ■■■■■■■■■■ */
.l-cRight{
    float: right;
    overflow: hidden;
    width: 270px;
    background-color: #963;
}

.l-cRight img{
  width: 270px;
  height: 150px;
}

.l-cRight .sns img{
  width: 135px;
  height: 90px;
  float: left;
}
