/* 作品紹介 */
@charset "UTF-8";

h1,h2,h3,p,ul,li,div{
	margin: 0;
	padding: 0;
}



.c{
	width: 90%;
	margin: 0 auto;
	background-color: #791611;
}

.h1color{
	background-color: #791611;
}

.h2color{
	background: #9b1f1f;
	text-indent: 1em;
}

.bdcolor{
	background-color: #791611;
}

h3{
	width: 200px;
	margin: 20px 0 0;
	margin-left: 10px;
	text-align: center;
	background-color: #a5201c;
	line-height: 50px;
	border-radius: 5px;
}

h3:last-child{
	border-top: solid 1px #ecdbcc;
}

.tab{
	overflow:hidden;
	margin-top: 40px;
}

.tab li{
	width: 50%;
	float:left;
	text-align: center;
	line-height: 50px;
}

.select{
	background-color: #791611;
}

.nselect{
	background-color: #361311;
}

.content li{
	padding:20px;
	letter-spacing: 1px;
}
.arasuji{
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
}
.arasuji li{
	width: 500px;
	height: 250px;
}

.hide{
	display:none;
}
