@charset "UTF-8";

/* 汎用クラス */
.bg-ns{
  background-color: #652323;
}


/* ▼ヘッダー▼ */
.header header{
  line-height: 50px;
}
.header header img{
  vertical-align: middle;
}
/* ▲ヘッダー▲ */

/* ▼フッター▼ */
.footer{
  line-height: 32px;
  color: #fff;
}
/* ▲フッター▲ */

/* ▼サイドバー▼ */
aside ul{
  min-height: 100%;
}
aside li:first-child{
  line-height: 42px;
}
/* ▲サイドバー▲ */

/* ---------------- 各ページCSS ---------------- */
/* ▼管理者ログインフォーム▼ */
.login{
  margin-top: 70px;
  margin-bottom: 70px;
}
.login_form{
  border: solid 1px #652323;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.login_form h2{
  margin: 0;
  padding: 0;
  line-height: 46px;
  color: #fff;
}
.login_form form{
  margin-top: 50px;
  margin-bottom: 50px;
}
.login p{
  line-height: 1.8;
}
/* ▲管理者ログインフォーム▲ */


/* ▼トップページ▼ */
/* トップコンテンツ */
.top{
  margin-top: 20px;
  margin-bottom: 20px;
}
.top_content ul{
  list-style: none;
}
.top_content ul li{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  border: solid 1px #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-size: 150%;
}
.top_content i{
  margin-right: 5px;
}
.top_content a{
  display: block;
}
.top_content li:hover{
  background-color: #ddd;
}
/* ▲トップページ▲ */


/* ▼売上管理▼ *//* ▼来客管理▼ */
.pdf a{
  margin-top: 20px;
}
.sales table,.visitor table{
  margin-top: 10px;
}
/* ▲売上管理▲ *//* ▲来客管理▲ */
