/* CSS */
@charset "UTF-8";

h1,h2,h3,p,ul,li,div,dl,dt,dd{
	margin: 0;
	padding: 0;
}

.order,.payment,.tickets,.goods,.goukei{
	padding: 0 20px;
}
/* 注文 */
.order{
	position: relative;
	margin-top: 50px;
}
.order dl:last-child{
	position: absolute;
	right: 20px;
}
.order dt,.order dd{
	float: left;
}
.payment dt,.payment dd{
	float: left;
}

/* チケット */
.tickets_contents{
	width: 400px;
	margin-bottom: 50px;
	margin-left: 50px;
	float: left;
}
.tickets_info{
	width: 250px;
	padding-top: 6px;
}
.tickets_info dl{
	padding-left: 10px;
	line-height: 35px;
}
.tickets_info dt{
	width: 100px;
	height: 20px;
	float: left;
}

/* グッズ */
.goods{

}
