@charset"utf-8";

.l-stepHead{
	margin: 0 auto;
	width: 940px;
	background-color: #781716;
	height: 50px;
	line-height: 50px;
	font-size: 21px;
}

.inn-wrapper{
	margin: 0 auto;
	width: 800px;
}

.set-H2{
	text-align: center;
	font-size: 18px;
	background-color: #781716;
}