<footer class="l-footer float_C">
<div class="float_C">
	
	<div class="footer_Logo float_L">
			<img src="http://127.0.0.1/halcinema/img/logo.png" alt="HALシネマ TOKYO" height="80px">
	</div>

	<div class="l-footer_Sitemap float_L float_C">
		<ul class="sitemap_Ul float_L">
			<li><a href="#">Gallery</a></li>
			<li><a href="#">公開中作品</a></li>
			<li><a href="#">上映スケジュール</a></li>
			<li><a href="#">公開予定作品</a></li>
		</ul>
		<ul class="sitemap_Ul float_L">
			<li><a href="#">Theater</a></li>
			<li><a href="#">東京シネマ</a></li>
			<li><a href="#">大阪シネマ</a></li>
			<li><a href="#">名古屋シネマ</a></li>
		</ul>
		<ul class="sitemap_Ul float_L">
			<li><a href="#">Plan</a></li>
			<li><a href="#">一般料金</a></li>
			<li><a href="#">割引サービス</a></li>
		</ul>
		<ul class="sitemap_Ul float_L">
			<li><a href="#">Ticket</a></li>
			<li><a href="#">インターネットで買う</a></li>
			<li><a href="#">劇場で買う</a></li>
		</ul>
		<ul class="sitemap_Ul float_L">
			<li><a href="#">Facility</a></li>
			<li><a href="#">スクリーン/サウンド</a></li>
			<li><a href="#">フードコーナー</a></li>
			<li><a href="#">グッズコーナー</a></li>
		</ul>
		<ul class="sitemap_Ul float_L">
			<li><a href="#">Support</a></li>
			<li><a href="#">よくある質問</a></li>
			<li><a href="#">お問い合わせ</a></li>
		</ul>
	</div>

	<div class="l-footer_Sitemap_Bottom float_L float_C">
		<ul class="sitemap_B_Ul">
			<li class="float_L"><a href="http://127.0.0.1/halcinema/View/sitemap.php">会社概要</a></li>
			<li class="float_L"><a href="http://127.0.0.1/halcinema/View/sitemap.php">採用情報</a></li>
			<li class="float_L"><a href="http://127.0.0.1/halcinema/View/sitemap.php">企業･団体の方々へ</a></li>
			<li class="float_L"><a href="http://127.0.0.1/halcinema/View/privacy.php">個人情報の取り扱いについて</a></li>
			<li class="float_L"><a href="http://127.0.0.1/halcinema/View/sitemap.php">サイトマップ</a></li>
			<li class="float_L"><a href="http://127.0.0.1/halcinema/View/sitemap.php">お問い合わせ</a></li>
			<li class="float_L"><a href="http://127.0.0.1/halcinema/View/sitemap.php">特定商取引法に基づく表記</a></li>
		</ul>
	</div>
</div>

	<div class="copyRight">
		<small>copyright &copy; 2015 New-style AllRights Reserved.</small>
	</div>
</footer>
