<header class="l-header">
	<!-- ロゴなど -->
	<div class="l-Lheader">
		<a href="#">
			<img src="http://localhost/halcinema/img/logo.png" alt="HALシネマ TOKYO">
		</a>
		<a href="#">
			<img src="" alt="広告バナー">
		</a>
	</div>

	<div class="l-Rheader">
		<div class="l-R-Theader">
			<a href="#">購入方法</a>
			<a href="#">よくある質問</a>
		</div>

		<ul class="l-R-Bheader">
			<li><a href="./Adduser/step1.php">新規会員登録</a></li>
			<li><a href="./login.php">ログイン</a></li>
		</ul>
	</div>
</header>

<nav>
	<ul class="l-nav">
		<li><a href="http://127.0.0.1/NEWSTYLE/halcinema/View/index.php">HOME</a></li>
		<li><a href="http://127.0.0.1/NEWSTYLE/halcinema/View/Shop/now_movies.php">上映中作品</a></li>
		<li><a href="http://127.0.0.1/NEWSTYLE/halcinema/View/movies_info.php">作品紹介</a></li>
		<li><a href="http://127.0.0.1/NEWSTYLE/halcinema/View/Shop/comming_movies.php">公開予定作品</a></li>
		<li><a href="http://127.0.0.1/NEWSTYLE/halcinema/View/Shop/access.php">アクセス</a></li>
		<li><a href="http://127.0.0.1/NEWSTYLE/halcinema/View/Shop/price.php">料金案内</a></li>
		<li><a href="http://127.0.0.1/NEWSTYLE/halcinema/View/Shop/facility.php">施設情報</a></li>
	</ul>
</nav>
