<!-- ▼サイド -->
<aside class="l-cRight">
  <!-- ▼NEWS -->
  <section class="news">
    <h4>お知らせ</h4>
    <div class="content">

    </div>
  </section>
  <!-- ▲新着情報 -->
  <!-- ▼最新情報 -->
  <section class="information">
    <h4>最新情報</h4>
  </section>
  <!-- ▲最新情報 -->
  <!-- ▼SNS -->
  <section class="sns float_C">
    <img src="" alt="">
    <img src="" alt="">
  </section>
  <!-- ▲SNS -->
  <!-- ▼バナ -->
  <section class="banner">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
  </section>
  <!-- ▲バナー -->
</aside>
<!-- ▲サイド -->
