<!-- ▼サイド -->
<aside class="l-cRight float_C">
  <!-- ▼NEWS -->
  <section class="news">
    <h4>お知らせ</h4>
    <div class="content float_C">
      <ul>
        <li><span>▶︎</span>クレジットカード決済サービスについて</li>
        <li><span>▶︎</span>入場者配布プレゼント場所について</li>
        <li><span>▶︎</span>au簡単決済・メンテナンスについて</li>
        <li><span>▶︎</span>一部サービスの不具合を改善しました</li>
      </ul>  
    </div>
  </section>
  <!-- ▲新着情報 -->
  <!-- ▼最新情報 -->
  <section class="information">
    <h4>最新情報<span class="listIcon">一覧へ</span></h4>
    <div class="content float_C">
      <ul>
        <li><span>▶︎</span>クレジットカード決済サービスについて</li>
        <li><span>▶︎</span>入場者配布プレゼント場所について</li>
        <li><span>▶︎</span>au簡単決済・メンテナンスについて</li>
        <li><span>▶︎</span>一部サービスの不具合を改善しました</li>
        <li><span>▶︎</span>一部サービスの不具合を改善しました</li>
        <li><span>▶︎</span>一部サービスの不具合を改善しました</li>
        <li><span>▶︎</span>一部サービスの不具合を改善しました</li>
        <li><span>▶︎</span>一部サービスの不具合を改善しました</li>
      </ul>  
    </div>
  </section>
  <!-- ▲最新情報 -->
  <!-- ▼SNS -->
  <section class="sns float_C">
    <img src="../../img/fb_banner.png" alt="facebookバナー">
    <img src="../../img/tw_banner.png" alt="twitterバナー">
  </section>
  <!-- ▲SNS -->
  <!-- ▼バナ -->
  <section class="banner">
    <img src="../../img/dummy.png" alt="">
    <img src="../../img/dummy.png" alt="">
    <img src="../../img/dummy.png" alt="">
    <img src="../../img/dummy.png" alt="">
  </section>
  <!-- ▲バナー -->
</aside>
<!-- ▲サイド -->
