/* 汎用CSS */
@charset "UTF-8";

/* 記述してあるCSS */
/*
*float
*display
*margin
*color
*background-color
*text-align
*font-weight(bold)
*font-style
*text-decoration-type
*btn
*.logo
* formまわり
*Stepバー
*msg
*/


body{
  background-color: #361311;
}




/* フロート */
.float_L{
    float: left;
    overflow: hidden;
}
.float_R{
    float: right;
    overflow: hidden;
}
.float_C::after{
  content: "";
  display: block;
  clear: both;
}

/* ボックス */
.d_B{
  display: block;
}

/* フォントカラー */
.F_000{
  color: #000;
}
.F_fff{

}

/* 背景カラー */
.B{
  /*background-color: #361311;*/
}

/* margin */
.margin_Auto{
  margin: auto;
}

/* テキスト */
/*p,h1タグなどに使用 */
/* 位置 */
.text_Center{
	text-align: center;
}
.text_Left{
	text-align: left;
}
.text_Right{
	text-align: right;
}

/* フォント */
/* 太さ */
.Bold{
	font-weight: bold;
}

/* 斜体 */
.Italic{
	font-style: italic;
}

/* リンク */
/* 下線なし */
.link_None{
	text-decoration: none;
}

/* 画像 */
/* 大きさ */
.img{
    width: 100%;
    height: auto;
}

.img_Small{
    width: 50%;
    height: auto;
}

.img_Big{
    width: 120%;
    height: auto;
}

/* ボタン */
.btn{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    boreder-radius: 5px;
    text-align: center;
}

.btn_Regular{
  width: 200px;
  height: 60px;
}

.btn_Small{
    width: 150px;
    height: 30;
}

.btn_Big{
    width: 220px;
    height: 90px;
}

/* ボーダー */
.border_Solid{
  border-style: solid;
}
.border_Dashed{
  border-style: dashed;
}

/* ロゴ */
/* 大きさ */
.logo{
  width: 250px;
  height: 80px;
}

.logo_Small{
}

.logo_Big{
}

/* formまわり */
.select{
  width: 220px;
}
.select_Small{
  width: 110px;
}
.select_Big{

}


/* ステップバー */
.stepBar {
  position: relative;
  color: #000;
  list-style: none;
  margin: 50px 0;
  padding: 0;
  text-align: center;
  width: 100%;
  overflow: hidden;
  *zoom: 1;
}
.stepBar .step {
  position: relative;
  float: left;
  display: inline-block;
  height: 140px;
  padding: 10px 40px 10px 25px;
  background-color: #B3B3B3;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.stepBar .step:before, .stepBar .step:after {
  position: absolute;
  left: -19px;
  display: block;
  content: '';
  background-color: #B3B3B3;
  border-left: 4px solid #361311;
  width: 45px;
  height: 70px;
}
.stepBar .step:after {
  top: 0;
  -moz-transform: skew(30deg);
  -ms-transform: skew(30deg);
  -webkit-transform: skew(30deg);
  transform: skew(30deg);
}
.stepBar .step:before {
  bottom: 0;
  -moz-transform: skew(-30deg);
  -ms-transform: skew(-30deg);
  -webkit-transform: skew(-30deg);
  transform: skew(-30deg);
}
.stepBar .step:first-child {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.stepBar .step:first-child:before, .stepBar .step:first-child:after {
  content: none;
}
.stepBar .step:last-child {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.stepBar .step.current {
  color: #000;
  background-color: #00E06A;
}
.stepBar .step.current:before, .stepBar .step.current:after {
  background-color: #00E06A;
}
.stepBar.step3 .step{
  width: 33%;
}
.stepBar.step4 .step{
  width: 25%;
}

.stepBar span{
	display: block;
	font-size: 16px;
	margin-top: 15px;
}


/* msg */
.msg{
  line-height: 250px;
  width: 620px;
}
