/* 汎用CSS */
@charset "UTF-8";

/* 記述してあるCSS */
/*
*float
*display
*color
*background-color
*text-align
*font-weight(bold)
*font-style
*text-decoration-type
*btn
*.logo
* formまわり
*/

/* フロート */
.float_L{
    float: left;
    overflow: hidden;
}
.float_R{
    float: right;
    overflow: hidden;
}
.float_C::after{
  content: "";
  display: block;
  clear: both;
}

/* ボックス */
.d_B{
  display: block;
}

/* フォントカラー */
.F(カラー名){
	color: ;
}

/* 背景カラー */
.B(カラー名){
	background-color: ;
}

/* テキスト */
/*p,h1タグなどに使用 */
/* 位置 */
.text_Center{
	text-align: center;
}
.text_Left{
	text-align: left;
}
.text_Right{
	text-align: right;
}

/* フォント */
/* 太さ */
.Bold{
	font-weight: bold;
}

/* 斜体 */
.Italic{
	font-style: italic;
}

/* リンク */
/* 下線なし */
.link_None{
	text-decoration: ;
}

/* 画像 */
/* 大きさ */
.img{
    width: 100%;
    height: auto;
}

.img_Small{
    width: 50%;
    height: auto;
}

.img_Big{
    width: 120%;
    height: auto;
}

/* ボタン */
.btn{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    boreder-radius: 5px;
    text-align: center;
}

.btn_Small{
    width: ;
    height: ;
}

.btn_Big{
    width: ;
    height: ;
}

/* ボーダー */
.border_Solid{
  border-style: solid;
}
.border_Dashed{
  border-style: dashed;
}

/* ロゴ */
/* 大きさ */
.logo{
  width: 250px;
  height: 80px;
}

.logo_Small{
}

.logo_Big{
}

/* formまわり */
.select{
  width: 220px;
}
.select_Small{
  width: 110px;
}
.select_Big{

}
