/* アクセス */
@charset "UTF-8";

h1,h2,h3,p,ul,li,div{
	margin: 0;
	padding: 0;
}

.access_Title{
	padding-left: 20px;
	font-size: 28px;
	line-height: 60px;
	height: 60px;
	background-color: #791611;
}

.access_Map{
	margin-top: 10px;
	padding: 10px 0;
	background-color: #791611;
}
.tanpo_Title{
	padding-left: 20px;
	font-size: 24px;
	margin-top: 15px;
	background-color: #791611;
}
.tenpo_Info{
	font-size: 14px;
	padding: 20px;
	margin-top: 10px;
	background-color: #791611;	
}