/* CSS */
@charset "UTF-8";

h1,h2,h3,p,ul,li,div{
	margin: 0;
	padding: 0;
}

section{
	margin: 10px;
	border: 1px #aaa;
}
h3{
	line-height: 48px;
	border: solid 1px #aaa;
}
section img{
	width: 90px;
	height: 140px;
}
p{
	padding: 5px;
}
