/* CSS */
@charset "UTF-8";

h1,h2,h3,p,ul,li,div,dl,dt,dd{
	margin: 0;
	padding: 0;
}
.screen{
	padding: 10px;
}
.theater_Facillity{
	width: 680px;
	/*background-color: red;*/
}
.theater_H1{
	width:150px;
	/*background-color: red;*/
}
.theater_H1 span{
	font-size: 10px;
	color: #9EECFA;
	/*background-color: red;*/
}
.theater_H1 h1{
	height: 40px;
	line-height: 25px;
	margin: 0;padding: 0;
}
.theater_Facillity img{
	margin-left: 30px;
}
.theater_Facillity p{
	font-size: 14px;
	margin-left: 30px;
}
.room_Facilities,.room_Layout{
	width: 680px;
}
.room_H2,.layout_H2{
	width:500px;
}
.room_H2 span,.layout_H2 span{
	font-size: 10px;
	color: #9EECFA;
	height: 10px;
	width: 100px;
	margin: 0;
	margin-left: 30px;
}
.room_H2 h2,.layout_H2 h2{
	height: 20px;
	padding: 10px 0 5px 20px;
	line-height: 15px;
	border-left: 10px solid;
	margin: -5px 0 20px 0;
}
.ticket_Room,.main_Room,.sound_Room{
	width: 680px;
	margin-bottom: 20px;
}
.ticket_Room_Text,.main_Room_Text,.sound_Room_Text{
	width: 450px;
	float: left;
	/*background-color: red;*/
}
.screen_6F,.screen_5F,.screen_4F,.screen_3F{
	width: 450px;
	height: 150px;
	background: url(../../img/screenBase.png) no-repeat;
	background-position: right 0;
	margin: 0 auto;
	/*background-color: red;*/
}
.screen_6F p,.screen_5F p,.screen_4F p{
	width: 80px;
	height: 80px;
	font-size: 50px;
	float: left;
	margin-right: 25px;
}
.screen_3F p{
	width: 80px;
	height: 80px;
	font-size: 50px;
	float: left;
	margin-right: 20px;
}
.screen_6F img,.screen_5F img,.screen_4F img{
	margin-top: 6px;
	margin-right: 5px;
}
.screen_3F img{
	margin-top: 6px;
}
