/* CSS */
@charset "UTF-8";

h1,h2,h3,p,ul,li,div,dl,dt,dd{
	margin: 0;
	padding: 0;
}

h2{
	width: 600px;
	margin: 0 auto;
}
dl{
	width: 540px;
	margin: 0 auto;
}
dl::after{
	content: "";
	display: block;
	clear: both;
}
dt,dd{
	width: 268px;
	height: 40px;
	float: left;
	border: solid 1px #999;
}
