@charset"utf-8";

.l-contentMain{
  width: 630px;
  height: 220px;
  background-color: #fa9;
  overflow: hidden;
}

.l-contentTitle{
  margin: 14px 0 0 24px;
  width: 606px;
  height: 48px;
  background-color: #9af;
}


.l-contentImage{
  margin-left: 24px;
  width: 90px;
  height: 140px;
  background-color: #af9;
}

.l-contetText{
  width: 516px;
  height: 140px;
  background-color: #ffa;
}

.l-removeTicket{
  width: 250px;
  height: 60px;
  text-align: center;
  margin: 160px 0 0 50px;
  background-color: #9ff;
}
